.bg-light {
    background-color: rgba(8, 142, 160, 0.527) !important;
}

.navbar-brand {
    color: rgb(66, 233, 255) !important;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: medium;
}

.navbar-toggler {
    background-color: rgb(8, 142, 160) !important;
}

.nav-link {
    color: rgb(66, 233, 255) !important;
}

.navbar-collapse{
    background-color: rgba(8, 142, 160, 0.527) !important;
}

.contenedor {
    display: flex;
    flex-flow: column nowrap; 
}
.navbar-collapse {
    z-index: 10;
    background-color: $background-oscuro;
}